<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Handling</title>
    <style>
        body{
            background-color: rgb(83, 129, 203);
            color: white;
        }
    </style>
</head>
<body>
    
    <form action="/form-submit" method="post">
        <h1>Form Handling</h1>
        name <input type="text" name="name" placeholder="Enter your name"><br><br>
        email <input type="email" name="email" placeholder="Enter your email"><br><br>
        password <input type="password" name="password" placeholder="Enter your password"><br><br>
        <button>submit</button>
    </form>
    
</body>
</html>